.sidebar_view {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    transition: all 0.5s ease;
    width: 23%;
    height: 100%;
    z-index: 90;
    background-color: #F3950D;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        padding: 40px 0 0 60px;
        list-style: none;

        li {
            // display: flex;
            // justify-content: right;
            text-align: right;
            align-items: center;
            padding: 0 50px 0 0;
            color: #f2f2f2;

            &:nth-child(1) {
                padding-top: 0;
            }

            p {
                &:nth-child(1) {
                    font-size: 40px;
                    font-style: italic;
                    font-weight: 900;
                    margin-bottom: 0;
                    padding-top: 40px;
                }
                &:nth-child(2) {
                    font-size: 30px;
                    font-style: italic;
                    font-weight: 600;
                    margin-top: 0;
                }
            }

            &:hover {
                cursor: pointer;
                color: #595959;
            }

            &:active {
                cursor: pointer;
                color: #03a65a;
            }
        }
    }

    .nickname {
        text-align: center;
        font-size: 15px;
        
        color: #2B255A;
        margin-bottom: 40px;

        font-style: italic;
        font-weight: 900;

        &:hover {
            cursor: pointer;
            color: #03a65a;
        }

        &:active {
            cursor: pointer;
            color: #595959;
        }
    
    }
}

.sidebar_hide {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 20%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 90;
    // font-size: 10px;

    ul {
        display: none;
        font-size: 10px;
    }

    .copyrights {
        display: none;
    }
}
