.main_whole {
    color: white;
    // padding-left: 500px;
    padding: 0 200px;
    font-size: 40px;
    font-weight: 900;
    // height: 1080px;
    font-style: italic;
    
    p {
        &:hover {
            cursor: pointer;
            color: #03a65a;
        }

        &:active {
            cursor: pointer;
            color: #595959;
        }
    }
}