

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Railway";
  min-width: 1920px;
  min-height: 1080px;
  background-color: rgb(10 8 20);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
