

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Railway";
  min-width: 1920px;
  min-height: 1080px;
  background-color: rgb(10 8 20);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: #F4E185;
}
::-webkit-scrollbar-thumb {
  background-color: #F3950D;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  background-color: #F4E185;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #F3950D;
}
